{% extends "todo/base.html" %}

{% block content %}
    <div class="row justify-content-center mt-5">
        <div class="col-md-10">
            <h1>Completed Todos</h1>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-md-10">
            <div class="list-group">

                {% if todos %}
                    {% for todo in todos %}
                        <a href="{% url 'completed_todo' todo.id %}" class="list-group-item list-group-item-action{% if todo.important %} list-group-item-danger{% endif %}"><b>{{ todo.title }}</b> - Completed - {{ todo.completed|date:'M j Y H:i'|upper }}</a>
                    {% endfor %}
                {% else %}
                    <h3 style="text-align: center">You don't have completed tasks yet :(</h3>
                {% endif %}

            </div>
        </div>
    </div>
{% endblock %}
